<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="CSS/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/c39c442009.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar-top fixed w-full z-20 top-0 left-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">CareSphere</span>
        </a>
        <div class="profile"></div>
        <button class="btun" data-bs-toggle="modal" data-bs-target="#mainModal">
            <span class="icon">
                <svg viewBox="0 0 175 80" width="40" height="40">
                    <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                </svg>
            </span>
            <span class="text">MENU</span>
        </button>
    </div>
</nav>

<!-- Main Modal -->
<div class="main-modal">
    <div class="modal fade" id="mainModal" data-bs-overflow="hidden" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mainModalLabel"><%= data.Fname %> <%= data.Lname %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <ul>
                            <a href="/admin"><li><span>Home</span></li></a>
                            <a href="/doctorinfo"><li><span>Doctors</span></li></a>
                            <a href="/staffinfo"><li><span>Staff</span></li></a>
                            <a href="/patientinfo"><li><span>Patients</span></li></a>
                            <a href="/changelog"><li><span>ChangeLogs</span></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Profile Card -->
<div class="containers">
    <div class="items">
        <div class="photo">
            <img src="<%= data.image %>"/>
        </div>
        <div class="name">
            <h4><%= data.Fname %> <%= data.Lname %></h4>
        </div>
        <div class="left" id="full">
            <div class="social-icons">
                <a class="share-btn" href="<%= data.facebook %>">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="share-btn" href="<%= data.instagram %>">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="share-btn" href="<%= data.twitter %>">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="share-btn" href="<%= data.github %>">
                    <i class="fab fa-github"></i>
                </a>
                <a class="share-btn" href="<%= data.linkedin %>">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <div class="buttons">
                <button class="contact" data-bs-toggle="modal" data-bs-target="#contactModal">Edit Details</button>
                <a href="/" class="download">Log Out</a>
            </div>
        </div>
    </div>
    <div class="right">
        <p>Username: <%= data.username %></p>
        <p>Email: <%= data.email %></p>
        <p>Phone: <%= data.phone %></p>
        <p>Date of Birth: <%= data.dob %></p>
    </div>
</div>

<!-- Contact Modal -->
<div class="contact-modal">
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <form class="form" action="/changeadmindetails" method="post">
                        <p class="title">Edit Details</p>
                        <p class="message">Make changes to your profile. Click <b>save</b> once your done.</p>
                            <div class="flexs">
                            <input type="hidden" name="id" value="<%= data.id %>">
                            <label>
                                <input class="input" type="text" name="Fname" >
                                <span>First Name</span>
                            </label>
                            <label>
                                <input class="input" type="text" placeholder="" name="Mname">
                                <span>Middle Name</span>
                            </label>
                            <label>
                                <input class="input" type="text" placeholder="" name="Lname">
                                <span>Last Name</span>
                            </label>
                        </div>
                        <div class="flexs">
                            <label>
                                <input class="input" type="text" placeholder="" name="username">
                                <span>Username</span>
                            </label>
                            <label>
                                <input class="input" type="text" placeholder="" name="password">
                                <span>Password</span>
                            </label>
                        </div>
                        <label>
                            <input class="input" type="email" placeholder="" name="email">
                            <span>Email</span>
                        </label>
                        <label>
                            <input class="input" type="number" placeholder="" name="phone">
                            <span>Phone</span>
                        </label>
                        <label>
                            <input class="input" type="date" placeholder="" name="dob">
                            <span>Date of Birth</span>
                        </label>
                        <label>
                            <input class="input" type="number" placeholder="" name="age">
                            <span>Age</span>
                        </label>
                        <button type="submit" class="submits">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
