d<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="CSS/doctorinfo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/c39c442009.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar-top fixed w-full z-20 top-0 left-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">CareSphere</span>
        </a>
        <div class="profile"></div>
        <button class="btun" data-bs-toggle="modal" data-bs-target="#mainModal">
            <span class="icon">
                <svg viewBox="0 0 175 80" width="40" height="40">
                    <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                </svg>
            </span>
            <span class="text">MENU</span>
        </button>
    </div>
</nav>

<!-- Main Modal -->
<div class="main-modal">
    <div class="modal fade" id="mainModal" data-bs-overflow="hidden" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mainModalLabel">Name with pic here</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                    <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <ul>
                            <a href="/admin"><li><span>Home</span></li></a>
                            <a href="/doctorinfo"><li><span>Doctors</span></li></a>
                            <a href="/staffinfo"><li><span>Staff</span></li></a>
                            <a href="/patientinfo"><li><span>Patients</span></li></a>
                            <a href="/changelog"><li><span>ChangeLogs</span></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Profile Card -->
<div class="containers">
    <h4>Doctor's List</h4>
    <div class="docinfo">
        <div class="row head">
            <div class="col-lg-2">Name</div>
            <div class="col-lg-2">Designation</div>
            <div class="col-lg-2">Specialty</div>
            <div class="col-lg-2">Field</div>
            <div class="col-lg-2">Qualification</div>
            <div class="col-lg-2"></div>
        </div>
        <% for(let i= 0; i < val.length; i++ ){ %>
        <div class="row tuple">
            <% if (val[i].Lname != '' && val[i].Mname != ''){ %>
                <div class="col-lg-2"><%= val[i].Fname %></div>
            <% }else if(val[i].Mname != ''){ %>
                <div class="col-lg-2"><%= val[i].Fname %> <%= val[i].Lname %></div>
            <% }else{ %>
                <div class="col-lg-2"><%= val[i].Fname %> <%= val[i].Mname %> <%= val[i].Lname %></div>
            <% } %>
            <div class="col-lg-2"><%= val[i].designation %></div>
            <div class="col-lg-2"><%= val[i].speciality %></div>
            <div class="col-lg-2"><%= val[i].field %></div>
            <div class="col-lg-2">
                <button type="button" class="self-center mx-auto bten btun qual" data-bs-toggle="modal" data-bs-target="#qualModal<%= val[i].id %>">View</button>
            </div>
            <div class="col-lg-2">
                <form action="/singledocinfo" method="post">
                    <input type="hidden" name="docid" value="<%= val[i].id %>">
                    <button class="bten btun" type="submit">Details</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>
<% for(let i= 0; i < val.length; i++ ){ %>
<!-- Qualification Modal for each doctor -->
<div class="qual-modal">
    <div class="modal fade" id="qualModal<%= val[i].id %>" tabindex="-1" aria-labelledby="qualModalLabel<%= val[i].id %>" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="qualModalLabel<%= val[i].id %>">Qualification for <%= val[i].Fname %> <%= val[i].Mname %> <%= val[i].Lname %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% for(let j = 0; j < qualval.length; j++){ %>
                        <% if(qualval[i].doctorId == val[i].id){ %>
                            <div class="row">
                                <div class="col-lg-4"><h3 class="col">Degree : </h1> <p><%= qualval[j].degree %></p></div>
                                <div class="col-lg-4"><h3 class="col">Year : </h3><p><%= qualval[j].year %></p></div>
                                <div class="col-lg-4"><h3 class="col">Institute : </h3><p><%= qualval[j].institute %></p></div>
                            </div>
                            <div class="row">
                                <img src="<%= qualval[j].degree_img %>" style="height: 17rem;"></img>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

</body>
</html>
